html
  head
    meta(charset="UTF-8")
    meta(name="viewpoint" content="=*width=device-width, initial-scale=1.0*")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    
  head
    
    title register employee
    
  body
    .header
      h1 STAY CLEAN-
        i THE CLEANEST OPTION
    form#signupForm(action='#' method='post')
     
       label
              first 
              input#firstname(type='text' name='firstname' placeholder ='firstname')
       label
              last   
              input#lastname(type='text' name='lastname' placeholder ='lastname') 
              br
       label
              Email 
              email 
              input#email(type='text' name='email' placeholder ='email')       
              br            
              User 
              userName 
              input#username(type='text' name='username' placeholder ='username')     
              br
              Password 
              password  
              input#password(type='password' name='password' placeholder ='password')  
              #submitDiv
              input#submit.button(type='submit' value='REGISTER')    
              

              
