doctype html
html
  head
    title register truck drivers
  body
    .header
      h1 STAY CLEAN-
        i THE CLEANEST OPTION
    form#signupForm(action='employeeReg.html' method='post')
     
       label
              | first Name 
              input#firstname(type='text' name='firstname' placeholder ='firstname')
       label
              | last  Name 
              input#lastname(type='text' name='lastname' placeholder ='lastname') 
              br
       label
              | Email 
              email 
              input#email(type='text' name='email' placeholder ='email')       
              br            
              | User
              userName 
              input#username(type='text' name='username' placeholder ='username')     
              br
              | Password 
              password  
              input#password(type='password' name='password' placeholder ='password')  
              #submitDiv
              input#submit.button(type='submit' value='REGISTER')    
              

              
